@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  background: linear-gradient(180deg, rgba(85,85,236,1) 0%, rgb(113, 232, 250) 100%);
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
}
:root{
  --text-color: rgb(255, 255, 255);
}
nav{
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0 0;
}
.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
  transition: all .4s ease-in;
}
.city-input, .search i{
  font-size: 16px;
}
.city-input{
  width: 90%;
  background-color: transparent;
  outline: none;
  border: none;
  margin: 0 0 0 10px;
}
.search{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
main{
  display: flex;
  justify-content: space-around;
  margin: 100px 0 0 0;
}
.date-desc-container{
  color: var(--text-color);
}
.date{
  font-size: 40px;
  font-weight: 300;
}
.desc{
  text-transform: capitalize;
  font-size: 16px;
}
.location-degrees-container {
  color: var(--text-color);
}
.degrees{
  font-size: 100px;
}
.location{
  font-size: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  margin: 10px 0 0 0;
  width: 61px;
  height: 31px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "\00B0 C";
  padding: 3px;
  height: 17px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  font-weight: bold;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  content: "\00B0 F";
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 34px;
}
.forecast-container{
  position: absolute;
  top: 80%;
  transform: translate(0,-80%);
  display: flex;
  gap: 50px;
}
.weather-day{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.13);
  color: var(--text-color);
  border-radius: 16px;
  padding: 70px 60px 70px 60px;    
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
}
.forecast-temp{
  font-size: 40px;
  font-weight: 900;
}
.forecast-day{
  font-size: 30px;
}